################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fibonacci/Fibonacci/bin/Debug
/Fibonacci/Fibonacci/obj/Debug
/Fibonacci/.vs/Fibonacci/v14
